* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.size {
    font-size: 13px;
}

/* Login Styles */
.login-section {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    margin: 0 0 20px;
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container input.error-border {
    border-color: red;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
}

/* Navigation Styles */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f252b;
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
    flex-wrap: wrap;
}

.nav-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.nav-link {
    font-size: 16px;
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover {
    text-decoration: none;
    color: #007bff;
}

.nav-link.active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.logout-button {
   display: none;
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 10px;
    }
}